*.code-workspace

*.log

*.txt

*.csv

*.spec

paraCompilar.py
teste.py
calculadoraVelocidades.py
calculoCargaRaioErro.py

/scripts/
/cargasTeste350V/
/build/
/interfaceGerada/__pycache__/
/pastaTestes/