*.code-workspace

*.log

*.txt

*.csv

*.spec

paraCompilar.py
teste.py
calculadoraVelocidades.py
calculoCargaRaioErro.py

/scripts/
/cargasTeste/
/build/
/interfaceGerada/__pycache__/
/pastaTestes/
/.vscode/
/deMillikanCompilado/